*
{
  box-sizing: border-box;
}

ul {
  padding: 0 40px 10px 40px;
}
li {
  list-style: none;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
.button {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  padding: 10px 40px 10px 40px;
}
h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 30px 20px;
  padding: 20px;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
h3 {
  text-align: center;
}
div {
  font-family: 'Open Sans', sans-serif;
}
.project {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px){
.project {
  max-width: 80%;
}



}
