*
{
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: white;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  font-size: 30px;
  background: #f2f2f2;
}

img {
  max-width: 100%;
}

li {
  color: black;
  list-style: none;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

section {
  margin: 4em;
}

.project {
  max-width: 80%;
}

#portfolio {
}

nav ul {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10%;
  padding: 10px 0 10px 0;
  background: white;

}

.bio {
  text-align: center;
  font-size: 16px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

h2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  font-weight: normal;
}

section {
  margin-bottom: 5rem;
}

#contact {
  padding: 10px;
  background-color: #f2f2f2;
}

#contact span {
  font-weight: normal;
}

#contact li {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  border-top: 1px solid lightgrey;
  padding: 1.2rem;

}
/* media queries */
{




}
